body{ 
    background-color: #F9F7F0; 
    color: #1887BE; 
    font-size: 18px; 
    text-align:center;
  } 
ul{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
  } 
  li{ 
    display: inline; 
    float: left; 
    border-right: 2px solid lightskyblue; 
    font-family: 'Fuzzy Bubbles';
  } 
  a{ 
    display: block; 
    color: #CC6D3D; 
    padding: 14px 16px; 
    background-color: #E0E5E9; 
    text-align: center; 
    text-decoration: none; 
  } 

h2,h3{ 
    font-size: 30px; 
    color:#CC6D3D; 
    text-align: center; 
    font-family: "Rock Salt";
  } 
h4{
    text-align:center;
    color:#274472;
}
table{
  position: relative; 
  right: -250px;
}
th,td{ 
    position: relative; 
    right: -300px;   
    border: 2px solid lightgrey;
  } 
section 
{ 
    display: block; 
    margin-left:auto; 
    margin-right:auto; 
    width: 100%; 
}