body{ 
    background-color: #F9F7F0; 
    color: #1887BE; 
    font-size: 18px; 
  } 
ul{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
  } 
  li{ 
    display: inline; 
    float: left; 
    border-right: 2px solid lightskyblue; 
  } 
  a{ 
    display: block; 
    color: #CC6D3D; 
    padding: 14px 16px; 
    background-color: #E0E5E9; 
    text-align: center; 
    text-decoration: none; 
  } 
  .active{ 
    background-color: lightgreen; 
  }  
h2{ 
    font-size: 30px; 
    color:#CC6D3D; 
    text-align: center; 
  } 
h3,h4{
    text-align:center;
    color:#274472;
}
table,th,td{ 
    position:relative; 
    right: -350px;   
    /*border: 2px solid lightgrey;*/ 
  } 
section 
{ 
    display: block; 
    margin-left:auto; 
    margin-right:auto; 
    width: 50%; 
}