nav.img{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

body{
  background-color: #F9F7F0;
  color: #1887BE;
  font-size: 18px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#E0E5E9;
}
li{
    display: inline;
    float: left;
    border-right: 2px solid lightskyblue;
}
li a{
    display: block;
    color: #CC6D3D;
    padding: 14px 16px;
    background-color: #E0E5E9;
    text-align: center;
    text-decoration: none;
}
/*li:a hover{
  background-color:black;
}*/

h1,h2{
    color: #CC6D3D;
    text-align: center;
}
h3{
  text-align:center;
}

table,th,td{
  position:relative;
  right: -280px;  
  /*border: 2px solid lightgrey;*/
}

article{
  text-align:center;
  border:inset;
  padding: 10px;
  background-color: #E0E5E9;
}

form{
    border: 4px solid grey;
    margin: 50px;
  }
  .container{
    padding: 20px;
    background-color: #F9F7F0
  }
  input[type=text], input[type=submit]{
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid lightcoral;
    box-sizing: border-box;
  }
  input[type=checkbox]{
    margin-top: 16px;
  }
  input[type=submit]{
    background-color: lightgrey;
    color:black;
    border:none;
  }
  input[type=submit]{
    opacity: 0.8;
  }

section {
    background: #F9F7F0;
    margin:auto;
    width: 50%;
    padding:10px;
    position:relative;
    right:-400px;
    
  }
  .container {
    display: flex;
    width: 50%;
    margin: 20px;
    background-color: white;
    flex-wrap: wrap;
  }

  .flex-item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    /* let's set random images if we want to create cover images */
    /*
    background-image: url("https://picsum.photos/400/400");
    background-size: cover;
    */
  }

  .flex-img img {
    max-width: 100%;
  }

  .flex-info {
    margin-top: auto;
  }

  @media (max-width: 920px) {
    .flex-item {
      flex: 1 21%;
    }

    img {
      width: 400px;
    }
  }

  @media(max-width: 375px) {
    .flex-item {
      flex-grow: 0%;
      flex-basis: 45px;
    }
  }
