iframe{
  opacity: 0.9;
}

body{
  background-color: #F9F7F0;
  color: #1887BE;
  font-size: 18px;
  text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    display: inline;
    float: left;
    border-right: 2px solid lightskyblue;
    font-family: 'Fuzzy Bubbles';
}
li a{
    display: block;
    color: #CC6D3D;
    padding: 14px 16px;
    background-color: #E0E5E9;
    text-align: center;
    text-decoration: none;
}

h1,h2{
    color: #CC6D3D;
    text-align: center;
    font-family: 'Fuzzy Bubbles';
}
h3{
  text-align:center;
}
hr{
  height: 2px;
  border-width: 0;
  color:gray;
  background-color:gray;
}

.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Make the images invisible by default */
.Containers {
display: none;
}

/* forward & Back buttons */
.Back, .forward {
cursor: pointer;
position: absolute;
top: 48%;
width: auto;
margin-top: -23px;
padding: 17px;
color: grey;
font-weight: bold;
font-size: 19px;
transition: 0.4s ease;
border-radius: 5px;
user-select: none;
}

/* Place the "previous button" on the left*/
.Back{
left:-50px;
}

/* Place the "forward button" on the right */
.forward {
right: -50px;
}

/*when the user hovers around, the button has some background color*/
.Back:hover, .forward:hover {
background-color: rgba(0,0,0,0.8);
}

/* Work on numbering */
.MessageInfo {
color: #f2f2f3;
font-size: 14px;
padding: 10px 14px;
position: absolute;
top: 0;
}

/* Page indicators below the images*/
.dots {
cursor: pointer;
height: 16px;
width: 16px;
margin: 0 3px;
background-color: #acc;
border-radius: 50%;
display: inline-block;
transition: background-color 0.5s ease;
}

.enable, .dots:hover {
background-color: #717161;
}

/* Faint animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.4s;
animation-name: fade;
animation-duration: 1.4s;
}

@-webkit-keyframes fade {
from {opacity: .5}
to {opacity: 2}
}

@keyframes fade {
from {opacity: .5}
to {opacity: 2}
}

form{
    text-align: center;
    background-color: rgb(233, 232, 232);
  }
  .container{
    padding: 20px;
  }
  input[type=text], input[type=submit]{
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid lightgrey;
    box-sizing: border-box;
  }
  input[type=checkbox]{
    margin-top: 16px;
  }
  input[type=submit]{
    background-color: lightslategray;
    color:black;
    border:none;
  }
  input[type=submit]{
    opacity: 0.8;
  }

section {
    background: #F9F7F0;
    margin:auto;
    width: 50%;
    padding:10px;
    position:relative;
    right:-400px;
    
  }
  .container {
    display: flex;
    width: 50%;
    margin: 50px;
    background-color: white;
    flex-wrap: wrap;
  }

  .flex-item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
  }

  .flex-img img {
    max-width: 100%;
  }

  .flex-info {
    margin-top: auto;
  }

  @media (max-width: 920px) {
    .flex-item {
      flex: 1 21%;
    }

    img {
      width: 400px;
    }
  }

  @media(max-width: 375px) {
    .flex-item {
      flex-grow: 0%;
      flex-basis: 45px;
    }
  }